@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Pacifico&family=Salsa&display=swap');

* {
    max-width: 100%;
}
:root{
    --primary-color: #FFB3AE;
    --secondary-color: #ABA05F;
    --accent1-color: #50CE69;
    --accent2-color: #EB9647;
  
    --heading-font: 'pacifico', serif;
    --paragraph-font: 'salsa', serif;
  
    --nav-background-color: #A5CA3F;
    --nav-link-color: #282A22;
    --nav-hover-link-color: #7F8278;
    --nav-hover-background-color: #4E601B;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    padding: 20px;
}


/* Class Selectors */

.sociallinks {
    text-decoration: none;
}

.hero {     
    justify-content: center;
    align-items: center;
    grid-row: 2;
    display: flex;
    position: relative;
}
.hero div{

    display: flex;
    grid-template-columns: 150px 700px 150px;
}
.hero h1{
    position: absolute;
    top: 1%;
    background-color: rgba(116, 110, 210, .6)
}
.hero article{
    width: 95%;
    right: 2.5%;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    bottom: 14%;
    margin: 0;
    position: absolute;
}
.hero img{
    width: 100%;
    height: auto;
}

.textcustomer img {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 3%;
    margin-right: 20px;
    margin-left: 5px;
    
}
.historysection {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50px;
}
#p1 {
    grid-column: 1;
    width: 90%;
}
.imghist {
    grid-column: 2;
    width: 100%
}
#p2 {
     grid-column: 3;
     width: 90%;
}


header {
	margin: 1px auto;
	display: grid;
	grid-template-columns: 210px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 100%;
    background-color: var(--nav-background-color);
    grid-row: 1;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
    margin-left: 10px;
    margin-right: 40px;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
    outline: -webkit-focus-ring-color auto 1px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 50px;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--nav-link-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
	font-weight: 700;
	text-decoration: underline;
}
.geralgrid{
    display: grid;
    grid-template-rows: 150px;
}
.adventure {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px ;
    grid-template-rows: 90px 150px;
}
.adventure h2{
    grid-row: 1;
    grid-column: span 5;
    text-align: center;
}
.adventure img{
    grid-row: 2;
    max-width: 90%;
}
footer {
    display: grid;
    grid-template-columns: 500px 500px;
}
#h2h {
    grid-column: 2;
    text-align: center;
    top: 8%;
    right: 2.5%;
    margin: 0;
}


.company-info {
    margin-bottom: 20px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: center;
}

.employee-profiles, .contact-form {
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    display:flex;
}

.employee-profiless {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 80px 200px;
}
.h2pro {
    grid-column: 1/4;
}
.employee-image {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    margin-bottom: 1px;
    grid-row: 2;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--primary-color);
    color: #fff;
}


.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form {
    display: grid;
    grid-gap: 20px;
}

.contact-form label {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: var(--accent1-color);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--accent2-color);
}

main {
    display: grid;
    grid-template-rows: 200px 45% 15%px;
}

/* Call to action styles */
.call-to-action {
    flex: 1 0 100%;
    text-align: center;
    padding: 20px;
    grid-row: 1;
    grid-column: 1/4;
}

/* Trip details styles */
.trip-details {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: 2;
}

.trip-details article {
    flex: 1 0 48%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    width: 90%;
    height: 90%;
}
#peru {
    grid-column: 1;
}
#salmon { 
    grid-column: 2;
}
#nile { 
    grid-column: 3;
}
.trip-details img {
    width: 600px;
    height: 400px;
    object-fit: none;
}

/* Trip table styles */
.trip-table {
    flex: 1 0 100%;
    padding: 20px;
    grid-row: 3;
    text-align: center;
    margin:auto;
}