@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Pacifico&family=Salsa&display=swap');

:root{
    --primary-color: #FFB3AE;
    --secondary-color: #ABA05F;
    --accent1-color: #50CE69;
    --accent2-color: #EB9647;
  
    --heading-font: 'pacifico', serif;
    --paragraph-font: 'salsa', serif;
  
    --nav-background-color: #A5CA3F;
    --nav-link-color: #282A22;
    --nav-hover-link-color: #7F8278;
    --nav-hover-background-color: #4E601B;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }